// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
color: black; 
background-color: #BCCDFF; 
box-shadow: 5px 5px 5px black;
} 

hr { 
color: black; 
} 

