// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img { 
height: auto; 
width: 800px; 
border: inset 4px;
border-radius: 20px;
box-shadow: 10px 10px 15px;
}


